<template>
  <div class="burger-container" :class="{isOpen}" data-cursor-is-hidden>
    <div class="wrappers">
      <div class="left_wrapper">
        <div class="closing_area" @click="closeMenu"></div>
        <footer v-if="contacts_page">
          <div class="h_two" v-html="contacts_page.page_name"></div>
          <p class="contact_value">
            <a rel="nofollow" :href="`mailto:test@test.test`">test@test.test</a>
          </p>
          <p class="contact_value">
            <a rel="nofollow" key="1" :href="`tel:+38 (044) 228 99 99`">+38 (044) 228 99 99</a>
          </p>
          <div class="contact_value">
            <a
              key="2"
              rel="nofollow"
              href="https://goo.gl/maps/H21J1cUZovLKbZ5K7"
            >
              {{$t("addres_test")}}
            </a>
          </div>
        </footer>
      </div>
      <div class="right_wrapper">
        <div
          v-for="(link, index) in links"
          class="menu_element"
          :key="link.id"
          @mouseenter.self.stop="changeCartBg"
          @mouseleave.self.stop="hideForeground"
          :data-rect-id="index"
        >
          <!-- @click="close(link.name)" -->
          <div class="foreground"></div>
          <nuxt-link
            class="menu_content_container"
            :to="localePath(`/${link.link}`)"
            @click.native="closeInLink(link.name)"
          >
            <div class="menu_content_wrapper">
              <p>{{$t(link.name)}}</p>
              <p
                class="h_four"
                @click="setCategory(link.name, category_link)"
                v-for="category_link in category(link.name)"
                :key="category_link.key"
              >{{category_link.value}}</p>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderBlock from "~/components/HeaderBlock";
import scrollController from "~/plugins/scrollController";
import { mapState } from "vuex";

export default {
  name: "BurgerMenu",
  components: {
    HeaderBlock,
    last_position_x: null,
    last_position_y: null
  },
  props: ["isOpen"],
  computed: {
    ...mapState(["contacts_page", "categories", "news_page"]),
    newsCategories() {
      if (this.news_page) {
        return [
          { key: "blog", value: this.news_page.news_title },
          { key: "press", value: this.news_page.press_title }
        ];
      }
      return [];
    }
  },
  data: () => ({
    links: [
      {
        id: 1,
        name: "projects",
        link: "#"
      },
      {
        id: 2,
        name: "about",
        link: "#"
      },
      {
        id: 3,
        name: "services",
        link: "#"
      },
      {
        id: 4,
        name: "vlog",
        link: "#"
      },
      {
        id: 5,
        name: "news",
        link: "#"
      },
      {
        id: 6,
        name: "contacts",
        link: "asdasd"
      }
    ],
    current_el: null,
    is_mobile: false
  }),
  methods: {
    setCategory(link, chosed_category) {
      if (link === "projects") {
        this.$store.commit("setProjectFilter", chosed_category);
      }
    },
    category(category_type) {
      if (this.is_mobile) return [];
      if (category_type === "projects") {
        return this.categories;
      } else if (category_type === "news") {
        return this.newsCategories;
      } else {
        return [];
      }
    },
    closeInLink(name) {
      let route_elements = this.$route.path.split("/");
      let route_id = route_elements[route_elements.length - 1];
      console.log(route_id);
      console.log(name);
      if (route_id === name) {
        this.closeMenu();
      }
    },
    closeMenu() {
      scrollController.enableScroll();
      this.$emit("toggleMenu", false);
    },
    closeWithButton(e) {
      if (e.keyCode == 27) {
        this.closeMenu();
      }
    },
    changeCartBg(e) {
      if (window.innerWidth <= 640) return;

      if (e.target.dataset.rectId == 0) {
        this.$store.commit("toggleThirdColumnLight", true);
      }
      if (e.target.dataset.rectId == 1) {
        this.$store.commit("toggleFourthColumnLight", true);
      }

      let current_el = +e.target.dataset.rectId;

      let el_foreground = e.target.querySelector(
        ".burger-container .foreground"
      );

      el_foreground.style.transition = "all 0s";

      let dif_x = Math.abs(e.clientX - window.innerWidth);
      let dif_x_half = Math.abs(e.clientX - window.innerWidth / 2);
      let dif_x_quote = Math.abs(e.clientX - window.innerWidth * 0.75);

      let dif_y = Math.abs(e.clientY - 56);
      let dif_y_one = Math.abs(e.clientY - window.innerHeight * 0.33333);
      let dif_y_second = Math.abs(e.clientY - window.innerHeight * 0.66666);
      let dif_y_third = Math.abs(e.clientY - window.innerHeight);

      let min = Math.min(
        dif_x,
        dif_x_half,
        dif_x_quote,
        dif_y,
        dif_y_one,
        dif_y_second,
        dif_y_third
      );

      if (
        (min === dif_x_half && +e.target.dataset.rectId % 2 === 0) ||
        (min === dif_x_quote && +e.target.dataset.rectId % 2 === 1)
      ) {
        el_foreground.style.left = "-100%";
        el_foreground.style.top = 0;
        void el_foreground.offsetWidth;
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.left = 0;
      }

      if (
        (min === dif_x_quote && +e.target.dataset.rectId % 2 === 0) ||
        (min === dif_x && +e.target.dataset.rectId % 2 === 1)
      ) {
        el_foreground.style.left = "100%";
        el_foreground.style.top = 0;
        void el_foreground.offsetWidth;
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.left = 0;
      }

      if (
        (min === dif_y && Math.trunc(current_el / 2) === 0) ||
        (min === dif_y_one && Math.trunc(current_el / 2) === 1) ||
        (min === dif_y_second && Math.trunc(current_el / 2) === 2)
      ) {
        el_foreground.style.left = 0;
        el_foreground.style.top = "-100%";
        void el_foreground.offsetWidth;
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.top = 0;
      }

      if (
        (min === dif_y_one && Math.trunc(current_el / 2) === 0) ||
        (min === dif_y_second && Math.trunc(current_el / 2) === 1) ||
        (min === dif_y_third && Math.trunc(current_el / 2) === 2)
      ) {
        el_foreground.style.left = 0;
        el_foreground.style.top = "100%";
        void el_foreground.offsetWidth;
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.top = 0;
      }
    },
    hideForeground(e) {
      if (window.innerWidth <= 640) return;

      if (e.target.dataset.rectId == 0) {
        this.$store.commit("toggleThirdColumnLight", false);
      }
      if (e.target.dataset.rectId == 1) {
        this.$store.commit("toggleFourthColumnLight", false);
      }

      let dif_x = Math.abs(e.clientX - window.innerWidth);
      let dif_x_half = Math.abs(e.clientX - window.innerWidth / 2);
      let dif_x_quote = Math.abs(e.clientX - window.innerWidth * 0.75);

      let dif_y = Math.abs(e.clientY - 56);
      let dif_y_one = Math.abs(e.clientY - window.innerHeight * 0.33333);
      let dif_y_second = Math.abs(e.clientY - window.innerHeight * 0.66666);
      let dif_y_third = Math.abs(e.clientY - window.innerHeight);

      let min = Math.min(
        dif_x,
        dif_x_half,
        dif_x_quote,
        dif_y,
        dif_y_one,
        dif_y_second,
        dif_y_third
      );

      let el_foreground = e.target.querySelector(
        ".burger-container .foreground"
      );

      let current_el = +e.target.dataset.rectId;

      el_foreground.style.transition = "all 0s";

      if (
        (min === dif_x_half && +e.target.dataset.rectId % 2 === 0) ||
        (min === dif_x_quote && +e.target.dataset.rectId % 2 === 1)
      ) {
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.left = "-100%";
      }

      if (
        (min === dif_x_quote && +e.target.dataset.rectId % 2 === 0) ||
        (min === dif_x && +e.target.dataset.rectId % 2 === 1)
      ) {
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.left = "100%";
      }

      if (
        (min === dif_y && Math.trunc(current_el / 2) === 0) ||
        (min === dif_y_one && Math.trunc(current_el / 2) === 1) ||
        (min === dif_y_second && Math.trunc(current_el / 2) === 2)
      ) {
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.top = "-100%";
      }

      if (
        (min === dif_y_one && Math.trunc(current_el / 2) === 0) ||
        (min === dif_y_second && Math.trunc(current_el / 2) === 1) ||
        (min === dif_y_third && Math.trunc(current_el / 2) === 2)
      ) {
        el_foreground.style.transition = "all .5s ease";
        el_foreground.style.top = "100%";
      }
    }
  },
  mounted() {
    this.is_mobile = window.innerWidth <= 640;
    window.addEventListener("keyup", this.closeWithButton);
  },
  beforeDestroy() {
    document.body.style.overflow = "auto";
    scrollController.enableScroll();
    window.removeEventListener("press", this.closeWithButton);
  }
};
</script>

<style>
.burger-container .contact_value a,
.burger-container .contact_value p {
  font-family: GraphikLCG-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.burger-container .contact_value {
  opacity: 0.6;
  transition: opacity 0.35s ease;
}
.burger-container .contact_value:hover {
  opacity: 0.3;
}
</style>

<style lang="scss" scoped>
.burger-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  opacity: 0.98;
  z-index: 120;
  transform: translate(100%);
  transition: all 0.7s ease;
}

.wrappers {
  display: flex;
}

.left_wrapper,
.right_wrapper {
  width: 50%;
  z-index: 10;
}

//left wrapper
.left_wrapper {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

footer {
  width: 100%;
  padding: 0 56px 36px;

  .h_two {
    margin-bottom: 72px;
    // width: 328px;
    width: 394px;
  }
  p,
  .contact_value {
    margin-top: 20px;
    width: 180px;
  }
  a {
    font-family: GraphikLCG-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    transition: opacity 0.35s ease;
    display: block;
  }
  a:hover {
    // opacity: 0.3;
  }
}

.closing_area {
  flex-grow: 1;
}

//right wrapper
.right_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  position: relative;
}

.menu_element {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  // background: rgba($color: #ffffff, $alpha: 0.98);

  p {
    font-family: GraphikLCG-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #181818;
    position: relative;
    transition: all 0.5s ease;
    z-index: 10;
    transform: translateY(-100%);
    margin-bottom: 20px;
  }
}

.menu_content_container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 36px 56px;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu_element:nth-of-type(2n) .menu_content_container {
  border-left: none;
}

.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 100%;
  background: url("../static/images/menu_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.isOpen {
  transform: translate(0);
}

.menu_element:hover {
  p {
    color: #ffffff !important;
    transform: translateY(-10px);
    opacity: 0.8;
  }
  .menu_content_wrapper {
    transform: translateY(10px);
    .h_four {
      color: #ffffff;
      opacity: 0.7;
    }
  }
}

.menu_content_wrapper {
  transform: translateY(100%);
  transition: all 0.5s ease;
  .h_four {
    opacity: 0;
    margin-bottom: 8px;
    transition: inherit;
  }
  .h_four,
  p {
    text-align: right;
  }
}

@media (max-width: 1024px) {
  .left_wrapper {
    padding-top: 40px;
    footer {
      padding: 40px;
      padding-top: 0;
    }
  }
  .menu_content_container {
    padding: 32px;
  }
  .menu_element:hover {
    p {
      transform: translateY(-100%);
      color: #000000 !important;
    }
    .menu_content_wrapper {
      transform: translateY(100%);
    }
  }
}

@media (max-width: 768px) {
  .wrappers {
    flex-direction: column;
  }
  .left_wrapper,
  .right_wrapper {
    width: 100%;
    height: 50vh;
  }
  .left_wrapper {
    padding: 32px 32px 24px;
  }
  .menu_content_container {
    padding: 24px;
  }
  .menu_element:nth-of-type(1),
  .menu_element:nth-of-type(2),
  .menu_element:nth-of-type(3) {
    .menu_content_container {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  .right_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .menu_element {
    height: auto;
  }
}

@media (max-width: 640px) {
  .burger-container {
    height: 100%;
  }
  .wrappers {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .left_wrapper {
    display: none;
  }
  .right_wrapper {
    padding-top: 56px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .menu_element:nth-of-type(2n) .menu_content_container {
    border-right: none;
  }
  .menu_element:nth-of-type(2n + 1) .menu_content_container {
    border-left: none;
  }
  .menu_element:nth-of-type(3) .menu_content_container {
    border-top: none;
  }
  .menu_element {
    height: auto;
  }
  .menu_content_container {
    padding: 20px;
    align-items: flex-start;
  }
  .menu_content_wrapper {
    .h_four,
    p {
      text-align: left !important;
    }
  }
}

@media (max-width: 375px) {
  .menu_content_container {
    padding: 18px;
  }
}
</style>