<template>
  <footer id="page_footer" data-cursor-is-hidden>
    <div class="footer_top">
      <div class="footer_column services_column">
        <nuxt-link :to="localePath('#')" @click.native="goToTop('services')">
          <p class="services_title footer_title">{{$t("services")}}</p>
        </nuxt-link>

        <ul class="services" v-if="services_page">
          <li
            v-for="service in services_page.children"
            @click="goToChosedService(service.page.category_name)"
            :key="service.page.category_name"
          >{{service.page.category_name}}</li>
        </ul>
      </div>

      <div class="footer_column projects_column">
        <nuxt-link :to=" localePath('#')" @click.native="goToTop('projects')">
          <p class="services_title footer_title">{{$t("projects")}}</p>
        </nuxt-link>
        <ul class="services">
          <li
            @click="goToChosedCategory(category)"
            v-for="category in categories"
            :key="category.key"
          >{{category.value}}</li>
        </ul>
      </div>

      <div class="footer_column about_column">
        <nuxt-link
          class="link_wrapper"
          v-for="link in links"
          :key="link.id"
          :to="localePath(link.path)"
          @click.native="goToTop(link.link, link.has_smooth)"
        >
          <p class="links_title footer_title">{{$t(link.name)}}</p>
        </nuxt-link>
      </div>

      <div class="footer_column">
        <div class="social" v-for="social in socialLinks" :key="social.label">
          <p class="h_four">
            <a rel="nofollow" :href="social.link" target="_blank">{{social.label}}</a>
          </p>
          <img src="~/static/images/arrow_next.svg" alt="arrow" />
        </div>
        <ul class="contacts" v-if="contacts_page">
          <li>
            <p>{{contacts_page.address_title}}</p>
            <a rel="nofollow" href="https://goo.gl/maps/H21J1cUZovLKbZ5K7" target="_blank">{{$t("addres_test")}}</a>
          </li>
          <li>
            <a rel="nofollow" href="test@test.test">test@test.test</a>
          </li>
          <li class="tel_desktop">
            <a rel="nofollow" v-if="globals" :href="`tel:+38 (044) 228 99 99`">+38 (044) 228 99 99</a>
          </li>
          <li class="tel_mobile">
            <a rel="nofollow" v-if="globals" :href="`tel:undefined`">undefined</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="h_four">AIMM © COPYRGHT 2020. УСІ ПРАВА ЗАХИЩЕНІ</p>
      <div class="tftl">
        <a rel="nofollow" href="https://thefirstthelast.agency/" target="_blank">
          <img src="~/static/images/thefirstthelast..svg" alt="thefirstthelast" />
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapState } from "vuex";
import { log } from "three";

export default {
  name: "FooterBlock",
  props: {
    page: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    links: [
      {
        id: 2,
        name: "about",
        path: "/#",
        has_smooth: true
      },
      {
        id: 5,
        name: "news",
        path: "/#",
        has_smooth: true
      },
      {
        id: 4,
        name: "vlog",
        path: "/#",
        has_smooth: false
      },
      {
        id: 6,
        name: "contacts",
        path: "/asdasd",
        has_smooth: false
      },
      {
        id: 1,
        name: "projects",
        path: "/#",
        has_smooth: false
      },
      {
        id: 3,
        name: "services",
        path: "/#",
        has_smooth: false
      }
    ]
  }),
  computed: {
    ...mapState(["categories", "globals", "contacts_page", "services_page"]),
    footerText() {
      if (this.globals) {
        return this.globals.find(item => item.slug === "footer_text").value;
      }
      return "";
    },
    socialLinks() {
      if (this.globals) {
        return this.globals.find(item => item.slug === "social_links").links;
      }
      return [];
    }
  },
  methods: {
    goToChosedCategory(category) {
      this.$store.commit("setProjectFilter", category);
      this.$router.push(this.localePath("/#"));
      if (this.page === "projects") {
        let categories_block = document.querySelector(".categories_block");
        if (categories_block) {
          window.scrollTo({
            top:
              categories_block.getBoundingClientRect().top +
              window.pageYOffset -
              100,
            behavior: "smooth"
          });
        }
      }
    },
    goToChosedService(service) {
      this.$store.commit("setSevice", service);
      this.$router.push(this.localePath("/#"));
    },
    goToTop(page, has_smooth = false) {
      if (this.page === page) {
        if (has_smooth) {
          this.$emit("goToTop");
        }
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.footer_top {
  padding: 0 56px 158px;
  padding-bottom: 80px;
  display: flex;
}
.tel_mobile {
  display: none;
}
.footer_column:nth-of-type(1) {
  padding-left: 0;
}
.footer_column {
  width: 25%;
  padding: 0 55px;
}
.services_title {
  margin-bottom: 26px;
}
.group_title {
  margin-bottom: 32px;
}
.footer_title {
  font-family: GraphikLCG-Medium;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
  transition: opacity 0.5s ease;
}
.footer_title:hover {
  opacity: 0.5;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects_column {
  li::first-letter {
    text-transform: uppercase;
  }
}

li {
  margin: 0;
  padding: 0;
  font-family: GraphikLCG-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 24px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
li:last-of-type {
  margin-bottom: 0px;
}
li:hover {
  opacity: 0.3;
}
.link_wrapper {
  cursor: pointer;
}
.links_title {
  margin-bottom: 24px;
}
.link_wrapper:nth-of-type(3) p {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
}
.link_wrapper:nth-of-type(5),
.link_wrapper:nth-of-type(6) {
  display: none;
}
.social {
  display: flex;
  align-items: center;
  width: 111px;
  justify-content: space-between;
  margin-bottom: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  a {
    color: #000000;
  }
  p {
    line-height: 100%;
  }
  img {
    display: block;
    transition: transform 0.5s ease;
  }
}

.social:hover {
  opacity: 0.5;
  img {
    transform: translateX(10px);
  }
}
.contacts {
  margin-top: 145px;
  li {
    opacity: 1;
  }
  a {
    color: rgba(#000000, 0.6);
    transition: color 0.5s ease;
  }
  a:hover {
    color: rgba(#000000, 0.3);
  }
  p {
    margin-bottom: 0;
    color: #000;
  }
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 55px;
}
.tftl {
  display: flex;
  align-items: baseline;
  transition: opacity 0.5s ease;
}

.tftl:hover {
  opacity: 0.5;
}

.services li:nth-of-type(2) {
  margin-bottom: 58px;
}
@media (max-width: 1024px) {
  .footer_top {
    padding: 0 40px 88px;
  }
}

@media (max-width: 900px) {
  .link_wrapper:nth-of-type(3) {
    display: block;
  }
  .footer_column {
    width: 33.3333%;
  }
  .projects_column {
    display: none;
  }
}
@media (max-width: 640px) {
  footer {
    overflow: hidden;
  }
  .about_column {
    .group_title,
    ul {
      display: none;
    }
  }
  .tel_desktop {
    display: none;
  }
  .tel_mobile {
    display: block;
  }
  .services_column {
    display: none;
  }
  .footer_column {
    width: 50%;
    padding: 0;
  }
  .footer_top {
    padding: 0 20px 64px;
  }
  .about_something {
    display: none;
  }
  .link_wrapper:nth-of-type(1) {
    margin-top: 0px;
  }
  .link_wrapper:nth-of-type(5),
  .link_wrapper:nth-of-type(6) {
    display: block;
  }
  .links_title {
    margin-bottom: 40px;
  }
  .contacts {
    margin-top: 74px;
  }
  .footer_bottom {
    margin-bottom: 20px;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 375px) {
  .footer_top {
    padding: 0 18px 56px;
  }
  .footer_bottom {
    padding: 0 18px;
  }
}
</style>