<template>
  <header
    data-cursor-is-hidden
    :class="{
      light_theme: lightStyle && !scrolling_style, 
      isMenuOpen, 
      header_opacity, 
      header_visible, 
      scrolling_style: (scrolling_style || (page_name === 'news')) && !isMenuOpen,
      one_project: page_name === 'one_project'
    }"
  >
    <div class="logo_wrapper">
      <nuxt-link :to="localePath('/')">
        <transition name="fade" mode="out-in">
          <img
            key="1"
            src="~/static/images/logo_light.svg"
            v-if="(lightStyle || partlyLight) && !isMenuOpen  && !scrolling_style"
            alt="aimm"
          />
          <img key="2" src="~/static/images/logo_black.svg" v-else alt="aimm" />
        </transition>
      </nuxt-link>
    </div>
    <div
      class="runing_line_wrapper"
      :class="{partlyLight: partlyLight && !isMenuOpen  && !scrolling_style}"
    >
      <div class="another_one_wrapper">
        <p>{{$t("running_line")}}&nbsp;&nbsp;</p>
      </div>
    </div>
    <div class="burger_wrapper">
      <div class="language_wrapper" :class="{is_invisible: is_desktop}">
        <language-toggler :lightStyle="lightStyle" :scrolling_style="scrolling_style" />
      </div>

      <transition name="fade" mode="out-in">
        <div
          class="burger_icon_wrapper"
          @click="toggleMenu"
          :class="{
            burger_icon_wrapper_close: isMenuOpen, 
            burger_icon_light: (lightStyle && !isMenuOpen  && !scrolling_style)  ||  $store.state.is_third_column_light}"
        >
          <div class="line_block line_block_first"></div>
          <div class="line_block line_block_second"></div>
        </div>
      </transition>
    </div>
    <div
      class="right_wrapper"
      :class="{is_fourth_column_light: $store.state.is_fourth_column_light}"
    >
      <language-toggler :lightStyle="lightStyle" :scrolling_style="scrolling_style" />
      <p class="h_four">
        <a rel="nofollow" href="https://www.youtube.com/">+38 (044) 228 99 99</a>
      </p>
    </div>
  </header>
</template>

<script>
import scrollController from "~/plugins/scrollController";
import LanguageToggler from "~/components/LanguageToggler";

import { mapState } from "vuex";
import gsap from "~/plugins/gsap-bonus";

export default {
  name: "HeaderBlock",
  components: {
    LanguageToggler
  },
  props: {
    light_theme: {
      default: false
    },
    isMenuOpen: {
      default: false
    },
    partlyLight: {
      default: false
    },
    page_name: {}
  },
  data: () => ({
    lastPosition: 0,
    header_opacity: false,
    header_visible: false,
    scrolling_style: false,
    is_desktop: true
  }),
  computed: {
    ...mapState(["globals"]),
    lightStyle() {
      return this.light_theme && !this.isMenuOpen;
    },
    headerApiInfo() {
      if (this.globals) {
        return this.globals.find(item => item.slug === "header");
      }
      return {};
    }
  },
  updated() {
    // if (this.globals) {
      // this.runingAnimation();
    // }
  },
  methods: {
    toggleMenu() {
      if (this.isMenuOpen) {
        this.$emit("toggleMenu", false);
        scrollController.enableScroll();
      } else {
        this.$emit("toggleMenu", true);
        scrollController.disableScroll();
      }
    },
    runingAnimation() {
      let runing_line = document.querySelector(".runing_line_wrapper p");
      let runing_line_wrapper = document.querySelector(".runing_line_wrapper");
      let another_one_wrapper = document.querySelector(".another_one_wrapper");

      let runing_line_width = runing_line.offsetWidth;
      let koef = Math.ceil(
        runing_line_wrapper.offsetWidth / runing_line.offsetWidth
      );

      for (let i = 0; i < koef * 2; i++) {
        another_one_wrapper.appendChild(runing_line.cloneNode(true));
      }

      // var tl = gsap.timeline({ repeat: -1 });
      let all_lines = document.querySelectorAll(".another_one_wrapper p");
      for (const el of all_lines) {
        let tl = gsap.fromTo(el, 6, { x: "-100%" }, { x: "-200%", ease: 'linear' });
        tl.repeat(-1);
      }
    },
    headerAppear() {
      if (this.page_name === "main" || this.page_name === "contacts") return;
      let delta = this.lastPosition - window.pageYOffset;
      clearTimeout(this.timeout);
      if (window.pageYOffset <= 0) {
        this.scrolling_style = false;
        this.header_visible = false;
        this.header_opacity = false;
      } else {
        if (delta > 0) {
          this.header_visible = false;
          this.scrolling_style = true;

          this.header_opacity = false;
        } else {
          this.header_opacity = true;
          this.timeout = setTimeout(() => {
            this.header_visible = true;
          }, 500);
        }
      }

      if (window.pageYOffset < window.innerHeight) {
        this.$emit("fixedBlockDown");
      } else if (this.header_opacity) {
        this.$emit("fixedBlockDown");
      } else {
        this.$emit("fixedBlockUp");
      }

      this.lastPosition = window.pageYOffset;
    },
    setDeskropStatus() {
      if (window.innerWidth > 768) {
        this.is_desktop = true;
      } else {
        this.is_desktop = false;
      }
    }
  },
  beforeDestroy() {
    document.body.style.overflow = "auto";
    window.removeEventListener("scroll", this.headerAppear);
    window.removeEventListener("resize", this.setDeskropStatus);
  },
  mounted() {
    // if (this.globals) {
      this.runingAnimation();
    // }
    this.setDeskropStatus();
    window.addEventListener("resize", this.setDeskropStatus);
    window.addEventListener("scroll", this.headerAppear);
  }
};
</script>

<style lang="scss" scoped>
.h_four,
a,
p {
  transition: color 0.5s ease;
}

.scrolling_style {
  background: #ffffff;
}

.header_opacity {
  opacity: 0;
  transition: opacity 0.5s;
}
.header_visible {
  visibility: hidden;
}
.is_invisible {
  visibility: hidden;
}

div {
  transition: border 0.5s ease;
}
header {
  background: transparent;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  height: 56px;
  transition: all 0.5s;
  // transition: background-color 0.5s;
}
a {
  color: #181818;
}
header > div {
  width: 25%;
  // border-right: 1px solid #e6e6e6;
  // border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 56px;
}
.logo_wrapper {
  padding-left: 56px;
  img {
    height: 19px;
    transition: opacity 0.45s ease;
  }
  img:hover {
    opacity: 0.5;
  }
}
.right_wrapper {
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    position: relative;
    top: -1px;
  }
  .h_four {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .h_four:hover {
    opacity: 0.5;
  }
  a,
  path {
    transition: all 0.5s ease-in-out;
  }
}
.is_fourth_column_light {
  .h_four,
  a {
    color: #ffffff;
  }
}
.burger_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
  .burger_icon {
    padding: 4px 0;
  }
}
.runing_line_wrapper {
  width: calc(25% + 2px);
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  p {
    white-space: nowrap;
  }
}
.another_one_wrapper {
  display: flex;
  p {
    // animation-name: running_line;
    // animation-duration: 4s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
  }
}

// @keyframes running_line {
//   0% {
//     transform: translateX(-100%);
//   }
//   100% {
//     transform: translateX(-200%);
//   }
// }

.light_theme {
  * {
    color: #ffffff;
  }
  & > div {
    border-right: 1px solid rgba(230, 230, 230, 0.2);
    border-bottom: 1px solid rgba(230, 230, 230, 0.2);
  }
}

.partlyLight {
  color: #ffffff;
}

.burger_icon_wrapper {
  width: 28px;
  transition: opacity 0.5s ease;

  cursor: pointer;
  .line_block {
    margin: 8px 0;
    width: 100%;
    background: #000000;
    height: 1px;
    transition: all 0.5s ease;
  }
}
.burger_icon_wrapper:hover {
  opacity: 0.3;
}

.burger_icon_light {
  .line_block {
    background: #ffffff;
  }
}

.burger_icon_wrapper_close {
  .line_block_first {
    transform: translateY(4.5px) rotate(135deg);
  }
  .line_block_second {
    transform: translateY(-4.5px) rotate(45deg);
  }
}

// .isMenuOpen {
//   .burger_wrapper {
//     padding: 8px 56px;
//   }
// }
@media (max-width: 1024px) {
  header > div {
    padding-right: 40px;
    padding-left: 32px;
  }
  .isMenuOpen {
    .burger_wrapper img {
      transform: translateX(10px);
    }
  }
  .logo_wrapper {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .right_wrapper {
    display: none;
  }
  .runing_line_wrapper {
    width: 50%;
  }
  header > div {
    height: 56px;
  }
  header > div {
    padding: 16px 32px;
  }
  .logo_wrapper {
    padding-left: 32px;
  }
}

@media (max-width: 640px) {
  .runing_line_wrapper {
    display: none;
  }
  header > div {
    padding: 16px 20px;
    width: 50%;
  }
  .logo_wrapper {
    padding-left: 20px;
  }
}

@media (max-width: 375px) {
  header > div {
    padding: 16px 18px;
  }
  .logo_wrapper {
    padding-left: 18px;
  }
}
</style>