<template>
  <div
    class="languages languages_toggle_wrapper"
    data-cursor-is-hidden
    :class="{light_theme: ((lightStyle && !scrolling_style) || $store.state.is_fourth_column_light)}"
  >
    <div class="chosed_language" @click="toggleLanguage">
      <p class="h_four">
        {{$i18n.locale}}
        <svg
          width="6"
          height="4"
          viewBox="0 0 6 4"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.70297 3.58721L0.123145 1.0073C-0.0410486 0.843188 -0.0410485 0.577107 0.123145 0.413074C0.287191 0.249027 0.553259 0.249027 0.717292 0.413074L3.00004 2.69589L5.28271 0.41314C5.44683 0.249094 5.71287 0.249094 5.87692 0.41314C6.04103 0.577187 6.04103 0.843255 5.87692 1.00737L3.29705 3.58727C3.21499 3.66929 3.10755 3.71026 3.00006 3.71026C2.89251 3.71026 2.78499 3.66922 2.70297 3.58721Z"
            :fill="((lightStyle && !scrolling_style) || $store.state.is_fourth_column_light) ? 'white' : 'black'"
            fill-opacity="0.7"
          />
        </svg>
      </p>
    </div>
    <transition name="fade_transform">
      <div class="other_languges" v-if="is_lang_open">
        <p class="h_four" @click="toggleLanguage" v-for="locale in unchoosedLocales" :key="locale">
          <nuxt-link :to="switchLocalePath(locale)">{{locale}}</nuxt-link>
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "LanguageToggler",
  props: ["lightStyle", "scrolling_style"],
  data: () => ({
    is_lang_open: false
  }),
  methods: {
    toggleLanguage() {
      this.is_lang_open = !this.is_lang_open;
    }
  },
  computed: {
    unchoosedLocales() {
      return this.$i18n.availableLocales.filter(
        locale => this.$i18n.locale !== locale
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.light_theme * {
  color: #ffffff;
}
.chosed_language {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
  cursor: pointer;

  img {
    margin-left: 6px;
  }
}

.h_four {
  transition: color .4s ease;
}

.other_languges {
  position: absolute;
  padding-top: 28px;
  .h_four {
    margin-bottom: 12px;
    a {
      display: inline-block;
      padding: 4px;
      margin: -4px;
    }
  }
}

.fade_transform-enter,
.fade_transform-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.fade_transform-enter-active,
.fade_transform-leave-active {
  transition: all 0.5s ease;
}
a {
  color: #181818;
}
@media (max-width: 640px) {
 .chosed_language {
   pointer-events: none;
 } 
}
</style>