<template>
  <div class="mobile_rotating_block">
    <img src="~/static/images/flip_phone.svg" alt="flip your phone" />
  </div>
</template>

<script>
export default {
  name: "MobileRotatingBlock"
};
</script>

<style lang="scss" scoped>
.mobile_rotating_block {
  display: none;
}

@media (max-width: 900px) {
  .mobile_rotating_block {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
}
</style>