<template>
  <div class="site_preloader" v-if="is_preloader_visible">
    <div class="first_line gorizontal_line">
      <div class="black_line"></div>
    </div>
    <svg
      width="146"
      height="36"
      viewBox="0 0 146 36"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="preloader_svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M21.5019 0.104004C22.2257 0.265576 22.5238 0.750293 22.7793 1.35619C27.1648 12.1007 31.5503 22.8049 35.9359 33.509C36.2339 34.2765 36.1913 34.8016 35.6804 35.1248C35.4249 35.2863 35.0417 35.4075 34.7437 35.4075C32.4445 35.4479 30.1878 35.4075 27.8886 35.4075C27.0796 35.4075 26.739 35.1248 26.4835 34.3977C25.9726 33.0243 25.4617 31.651 24.9507 30.2372C24.823 29.8737 24.6527 29.7525 24.2269 29.7525C20.1394 29.7525 16.0093 29.7525 11.9219 29.7525C11.5812 29.7525 11.3683 29.8333 11.2832 30.1968C10.8148 31.5702 10.3039 32.9031 9.79295 34.2765C9.40975 35.2459 9.15428 35.4479 8.04725 35.4479C6.0035 35.4479 4.00234 35.4075 1.95859 35.4479C1.06445 35.4479 0.340624 35.3267 0 34.4381C0 34.3977 0 34.3573 0 34.3573C0.0851561 34.0745 0.170312 33.7918 0.255468 33.5494C4.59843 22.8049 8.98397 12.1007 13.3695 1.35619C13.625 0.790686 13.923 0.305969 14.5617 0.104004C16.8609 0.104004 19.2027 0.104004 21.5019 0.104004ZM21.8425 21.997C20.5652 18.604 19.3304 15.2514 18.0957 11.9392C18.0531 11.9392 18.0105 11.9392 17.9679 11.9392C16.7332 15.2918 15.4984 18.604 14.2211 21.997C16.8609 21.997 19.3304 21.997 21.8425 21.997Z"
        fill="#E6E6E6"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M49.009 0.104004C49.9883 0.346362 50.2437 0.992651 50.2437 1.8813C50.2437 12.4643 50.2437 23.0876 50.2437 33.6706C50.2437 33.7514 50.2437 33.8726 50.2437 33.9534C50.2437 34.9228 49.7754 35.3671 48.7535 35.4075C47.6039 35.4075 46.4543 35.4075 45.3473 35.4075C44.2402 35.4075 43.1758 35.4075 42.0687 35.4075C40.834 35.4075 40.4082 34.9632 40.4082 33.8322C40.4082 29.187 40.4082 24.5418 40.4082 19.937C40.4082 13.9184 40.4082 7.89986 40.4082 1.92169C40.4082 1.03304 40.6211 0.386755 41.6004 0.104004C44.0273 0.104004 46.4969 0.104004 49.009 0.104004Z"
        fill="#E6E6E6"
      />
      <path
        class="preloader_one"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M94.0579 0.104004C94.952 0.346362 95.2075 0.992651 95.2926 1.80051C95.6333 5.19353 96.0165 8.58654 96.3997 11.9796C96.7403 14.9686 97.0383 17.9577 97.3364 20.9468C97.677 23.9359 97.9751 26.925 98.3157 29.9141C98.4434 31.247 98.6137 32.6204 98.7415 33.9534C98.8266 34.9228 98.3157 35.4479 97.2938 35.4479C95.1223 35.4479 92.9508 35.4479 90.7368 35.4479C89.7575 35.4479 89.3743 35.1248 89.2466 34.1957C88.9485 31.6106 88.6505 29.0254 88.3524 26.4403C88.0118 23.5724 87.7137 20.7045 87.3731 17.8365C87.3305 17.3922 87.288 16.9883 87.1177 16.5036C87.0751 16.6248 87.0325 16.7863 86.9899 16.9075C85.2016 22.6837 83.4559 28.4599 81.7102 34.2361C81.4122 35.2056 81.0716 35.4479 80.0071 35.4479C78.1763 35.4479 76.3454 35.4479 74.5571 35.4479C73.4927 35.4479 73.152 35.2056 72.854 34.2361C71.1083 28.4599 69.32 22.6837 67.5743 16.9075C67.5317 16.7863 67.4892 16.6651 67.3614 16.544C67.2763 17.1095 67.1911 17.675 67.1485 18.2001C66.595 23.128 66.0415 28.0964 65.488 33.0243C65.4454 33.4687 65.4028 33.913 65.3177 34.3573C65.1899 35.044 64.8067 35.4075 64.0829 35.4075C61.7837 35.4479 59.4419 35.4479 57.1427 35.4075C56.2486 35.4075 55.7802 34.8016 55.8654 33.913C56.2486 30.318 56.6743 26.723 57.0575 23.128C57.3982 19.8158 57.7388 16.5036 58.122 13.1913C58.5052 9.59637 58.931 5.96099 59.3142 2.36601C59.3568 2.12366 59.3568 1.92169 59.3568 1.67933C59.3993 0.911865 59.6974 0.305969 60.5489 0.104004C63.5294 0.104004 66.5524 0.104004 69.5329 0.104004C70.2142 0.265576 70.5548 0.709899 70.7251 1.35619C72.4708 6.89003 74.2165 12.4239 75.9622 17.9173C76.388 19.3311 76.8563 20.7045 77.3247 22.2394C77.4524 21.9566 77.495 21.7951 77.5802 21.5931C79.7091 14.8879 81.838 8.18261 83.9669 1.43697C84.1798 0.790685 84.4778 0.305969 85.2016 0.104004C88.0544 0.104004 91.0774 0.104004 94.0579 0.104004Z"
        fill="#E6E6E6"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M141.274 0.104004C142.168 0.305969 142.424 0.952258 142.509 1.76012C142.807 4.7492 143.147 7.73829 143.488 10.7274C143.786 13.3933 144.042 16.0593 144.34 18.7252C144.638 21.3911 144.936 24.0975 145.234 26.7634C145.489 29.0658 145.745 31.3682 146 33.711C146 33.8322 146 33.9534 146 34.0342C146 34.8824 145.574 35.4075 144.68 35.4075C142.424 35.4479 140.167 35.4075 137.868 35.4075C137.059 35.4075 136.59 34.9632 136.505 34.1957C135.952 29.3486 135.398 24.5014 134.845 19.6542C134.76 18.7656 134.632 17.8769 134.547 16.9479C134.547 16.7863 134.504 16.6248 134.376 16.5036C133.865 18.2001 133.354 19.8966 132.801 21.5931C131.524 25.794 130.246 30.0352 128.926 34.2361C128.628 35.2056 128.33 35.4075 127.223 35.4075C125.392 35.4075 123.562 35.4075 121.773 35.4075C120.709 35.4075 120.368 35.1652 120.07 34.1957C118.324 28.4599 116.579 22.7241 114.833 16.9883C114.79 16.8267 114.705 16.6651 114.578 16.5036C114.492 17.1499 114.407 17.7558 114.365 18.4021C113.854 22.7645 113.385 27.0866 112.917 31.449C112.832 32.3376 112.704 33.2667 112.619 34.1553C112.534 35.0036 112.065 35.4075 111.129 35.4479C108.915 35.4479 106.743 35.4479 104.529 35.4479C103.465 35.4479 102.996 34.8824 103.124 33.8726C103.55 29.9141 103.976 25.9555 104.401 21.9566C104.827 18.0385 105.253 14.08 105.679 10.1619C105.977 7.29396 106.317 4.42606 106.615 1.55815C106.701 0.831079 107.041 0.386755 107.765 0.144397C110.746 0.144397 113.769 0.144397 116.749 0.144397C117.515 0.305969 117.813 0.831079 118.026 1.51776C119.857 7.29396 121.688 13.0702 123.519 18.8464C123.86 19.937 124.2 21.068 124.583 22.1586C124.754 21.997 124.796 21.8355 124.881 21.6739C127.01 14.9686 129.139 8.2634 131.226 1.51776C131.438 0.871472 131.736 0.386755 132.418 0.144397C135.27 0.104004 138.251 0.104004 141.274 0.104004Z"
        fill="#E6E6E6"
      />
    </svg>
    <div class="second_line gorizontal_line">
      <div class="black_line"></div>
    </div>
  </div>
</template>
  
<script>
import gsap from "~/plugins/gsap-bonus";
import DrawSVGPlugin from "~/plugins/gsap-bonus/DrawSVGPlugin";

import scrollController from "~/plugins/scrollController";

export default {
  name: "PreloaderBlock",
  data: () => ({
    is_preloader_visible: true
  }),
  methods: {
    runCircleChanger() {
      gsap.registerPlugin(DrawSVGPlugin);

      let animation_speed = 0.75;

      var tl = gsap.timeline();
      tl.to(".first_line .black_line", 2 * animation_speed, { width: "100%" });
      tl.staggerTo(
        ".preloader_svg path",
        0.75 * animation_speed,
        {
          fill: "black",
          ease: "power1.inOut"
        },
        0.35 * animation_speed,
        "+=0"
      );
      tl.to(".second_line .black_line", 2 * animation_speed, {
        width: "100%"
      });
      tl.to(".site_preloader", 0.5 * animation_speed, {
        opacity: 0,
        onComplete: () => {
          this.is_preloader_visible = false;
          this.$store.commit("setPreloaderVisible");
          scrollController.enableScroll();
        }
      });
    }
  },
  mounted() {
    scrollController.disableScroll();
    this.runCircleChanger();
  }
};
</script>

<style lang="scss" scoped>
.site_preloader {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
}
svg {
  position: relative;
  z-index: 5;
  margin: 0 -7px 0 -7px;
}
.gorizontal_line {
  flex-grow: 1;
  height: 1px;
  background-color: #e6e6e6;
}
.black_line {
  height: 100%;
  width: 0;
  background-color: #000;
}
</style>