<template>
  <div class="error_content">
    <header-block @toggleMenu="toggleMenu" :isMenuOpen="isMenuOpen" />
    <burger-menu :isOpen="isMenuOpen" />
    <tetris-block class="error_tetris" page="error" />
    <error-text/>
  </div>
</template>

<script>
import HeaderBlock from "~/components/HeaderBlock";
import BurgerMenu from "~/components/BurgerMenu";
import TetrisBlock from "~/blocks/projects/TetrisBlock";
import ErrorText from "~/blocks/error/ErrorText"

export default {
  name: "ErrorContent",
  components: {
    HeaderBlock,
    BurgerMenu,
    TetrisBlock,
    ErrorText
  },
  data: () => ({
    isMenuOpen: false,
  }),
  methods: {
    toggleMenu(menu_status) {
      this.isMenuOpen = menu_status;
    }
  }
};
</script>

<style lang="scss" scoped>
.error_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>