<template>
  <dir class="error_text">
    <div class="h_one" v-html="$t('oops')">
    </div>

    <nuxt-link
      class="to_home"
      :to="localePath('/')"
    >
      <svg
        width="184"
        height="184"
        transform="rotate(90)"
        viewBox="0 0 184 184"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.1"
          d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
          stroke="black"
        />
        <path
          class="dark_path"
          opacity="1"
          d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
          stroke="black"
        />
      </svg>

      <div class="a1" v-html="$t('go_to_main')">
      </div>
    </nuxt-link>
  </dir>
</template>

<script>
import Magnetic from "~/plugins/magnetic";

export default {
  name: "ErrorText",
  data() {
    return {
      // title: 'Oops, something went wrong',
      // linkText: 'go to main'
    }
  },
  computed: {

  },
  mounted() {
    let button = document.querySelector('.to_home')
    let magnetic = new Magnetic(button, button, 50);
  }
}
</script>

<style lang="scss" scoped>
.error_text {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  width: 100%;

  @media (min-width: 1025px) {
    display: none;
  }
  @media (max-width: 768px) {
    align-items: center;
  }
  @media (max-width: 600px) {
    justify-content: space-between;
  }
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @media (max-width: 550px) {
    padding: 0 18px;
  }
}

.h_one {
  max-width: 466px;
  margin-top: 120px;
  margin-right: 76px;

  @media (max-width: 768px) {
    max-width: 338px;
    margin-top: 0;
  }
  @media (max-width: 600px) {
    margin-right: 0;
  }
  @media (max-width: 550px) {
    max-width: 400px;
    margin-bottom: 40px;
  }
}

.to_home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 184px;
  cursor: pointer;

  @media (max-width: 550px) {
    width: auto;
    height: auto;
    opacity: 0.5;
  }

  svg {
    position: absolute;
    .dark_path {
      stroke-dasharray: 578;
      stroke-dashoffset: -450;
      transition: stroke-dashoffset 1s ease;
    }
    &:hover {
      .dark_path {
        stroke-dashoffset: 0;
      }
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  .a1 {
    margin-top: 20px;
    margin-right: 20px;
    max-width: 65px;

    @media (max-width: 550px) {
      max-width: 100%;
      margin: 0;
    }
  }
}
</style>