<template>
  <div>
    <nuxt />
    <div class="rotating_container" v-show="$store.state.mobile_alert_is_opened">
      <mobile-rotating-block />
    </div>
    <preloader-block />
  </div>
</template>

<script>
import MobileRotatingBlock from "~/components/MobileRotatingBlock";
import PreloaderBlock from "~/components/PreloaderBlock";
import scrollController from "~/plugins/scrollController";

export default {
  components: {
    MobileRotatingBlock,
    PreloaderBlock
  },
  middleware: "seo",
  created() {
    this.$store.dispatch("getGlobals", this.$i18n.locale);
    this.$store.dispatch("getAllCategories", this.$i18n.locale);
    this.$store.dispatch("getNews", this.$i18n.locale);
    this.$store.dispatch("getContacts", this.$i18n.locale);
    this.$store.dispatch("getServices", this.$i18n.locale);
  },
  methods: {
    checkOrientation() {
      if (window.orientation == -90 || window.orientation == 90) {
        this.$store.commit("showMobileAlert");
        scrollController.disableScroll();
      } else {
        this.$store.commit("hideMobileAlert");
        scrollController.enableScroll();
      }
    }
  },
  mounted() {
    window.addEventListener("orientationchange", this.checkOrientation);
    this.checkOrientation();
  }
};
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
