<template>
  <div>
    <error-content/>
  </div>
</template>

<script>
import ErrorContent from "~/blocks/error/ErrorContent"

export default {
  components: {
    ErrorContent
  },
};
</script>

<style>
</style>