<template>
  <div class="container">
    <div class="page_preloader_left"></div>
    <div class="page_preloader_right"></div>
    <header-block @toggleMenu="toggleMenu" :isMenuOpen="isMenuOpen" />
    <burger-menu @toggleMenu="toggleMenu" :isOpen="isMenuOpen" />
    <projects-block :all_projects_page="all_projects_page" />
    <div class="tetris_desktop_container">
      <tetris-block page="projects" :all_projects_page="all_projects_page" />
    </div>
    <div class="footer_gorizontal_line"></div>
    <footer-block page="projects" />
  </div>
</template>

<script>
import HeaderBlock from "~/components/HeaderBlock";
import FooterBlock from "~/components/FooterBlock";
import BurgerMenu from "~/components/BurgerMenu";

import ProjectsBlock from "~/blocks/projects/ProjectsBlock";
import TetrisBlock from "~/blocks/projects/TetrisBlock";

import { setAnimations } from "~/plugins/show_animation";
import { mapState } from "vuex";
import { log } from "three";
import {seoLinkGenerator, seoMetaGenerator} from "~/plugins/seoGenerator";

export default {
  components: {
    HeaderBlock,
    ProjectsBlock,
    TetrisBlock,
    FooterBlock,
    BurgerMenu
  },
  async fetch({ store, app }) {
    await store.dispatch("getAllProjects", app.i18n.locale);
    // await store.dispatch("getAllCategories", app.i18n.locale);
  },
  mounted() {
    console.log(this.all_projects_page);

    setAnimations.call(this);
  },
  data: () => ({
    isMenuOpen: false
  }),
  head({ $env, $route }) {
    return {
      link: seoLinkGenerator($env.baseUrl, "/projects"),
      title: this.all_projects_page.seo_title,
      meta: [
        ...seoMetaGenerator({
          url: $route.path,
          title: this.all_projects_page.seo_title,
          description: this.all_projects_page.seo_description})
      ]
    };
  },
  computed: {
    ...mapState(["all_projects_page", "categories"])
  },
  methods: {
    toggleMenu(menu_status) {
      this.isMenuOpen = menu_status;
      // if (menu_status) {
      //   document.body.style.overflow = "hidden";
      // } else {
      //   document.body.style.overflow = "auto";
      // }
    }
  }
};
</script>

<style lang="scss" scoped>
@media (max-width: 1024px) {
  .tetris_desktop_container {
    display: none;
  }
}
</style>