@font-face {
  font-family: GraphikLCG-Extralight;
  src: url("../fonts/GraphikLCG-Extralight.otf") format("otf"),
    url("../fonts/GraphikLCG-Extralight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GraphikLCG-Light;
  src: url("../fonts/GraphikLCG-Light.otf") format("otf"), url("../fonts/GraphikLCG-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GraphikLCG-Regular;
  src: url("../fonts/GraphikLCG-Regular.otf") format("otf"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: GraphikLCG-Medium;
  src: url("../fonts/GraphikLCG-Medium.otf") format("otf"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: GraphikLCG-Thin;
  src: url("../fonts/GraphikLCG-Thin.otf") format("otf"), url("../fonts/GraphikLCG-Thin.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GraphikLCG-Semibold;
  src: url("../fonts/GraphikLCG-Semibold.otf") format("otf"), url("../fonts/GraphikLCG-Semibold.woff") format("woff");
  font-display: swap;
}

html,
body {
  overscroll-behavior: none;
}

h1,
h2,
h3,
.h_one,
.h_two,
.h_three {
  position: relative;
}

h1,
.h_one {
  font-family: GraphikLCG-Extralight;
  font-style: normal;
  font-weight: 275;
  font-size: 72px;
  line-height: 100%;
  color: #181616;
}

h2,
.h_two {
  font-family: GraphikLCG-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  color: #181616;
}

h3,
.h_three {
  font-family: GraphikLCG-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
  color: #181616;
}
h4, .h_four {
  font-family: GraphikLCG-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px !important;
  // font-size: 10px;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #181616;
}

.p1 {
  font-family: GraphikLCG-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  opacity: 0.8;
}

.p2 {
  font-family: GraphikLCG-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 200%;
  color: #000000;
  opacity: 0.8;
}
.a1 {
  font-family: GraphikLCG-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
}

// .js_appear_animated_text>div {
//   white-space: nowrap;
// }

.showing_block_trigger,
.showing_title_trigger {
  position: absolute;
  top: 0;
}

@media (max-width: 1024px) {
  h1,
  h2,
  .h_one,
  .h_two {
    font-size: 56px;
  }
  .p1,
  .p2 {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  h1,
  h2,
  .h_one,
  .h_two {
    font-size: 48px;
  }
  h3,
  .h_three {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  h1,
  .h_one {
    font-size: 48px;
  }
}

//footer line
.footer_gorizontal_line {
  background: #000000;
  opacity: 0.1;
  height: 1px;
  margin-bottom: 63px;
}

.lang_switching {
  .page_preloader_right,
  .page_preloader_left {
    height: 100vh;
  }
}

// vue transitions changing
.page-enter {
  .page_preloader_right,
  .page_preloader_left {
    height: 100vh;
  }
}
.page-leave-to {
  .page_preloader_left {
    top: auto;
    bottom: 0;
    height: 100vh;
  }
  .page_preloader_right {
    top: 0;
    bottom: auto;
    height: 100vh;
  }
}

.page-leave-active {
  transition: all 0.5s ease;
}
.page-enter-active {
  transition: all 0s ease;
}

.page_preloader_left,
.page_preloader_right {
  position: fixed;
  z-index: 10000;
  height: 0;
  width: 50vw;
  background-color: #ffffff;
  transition: height 0.5s ease;
}

@media (max-width: 640px) {
  // .page-enter-active,
  // .page-leave-active {
  //   transition: all 1s ease;
  // }
  .page-leave-active {
    transition: all 1s ease;
  }

  .page_preloader_left,
  .page_preloader_right {
    transition: height 1s ease;
  }
}

.page_preloader_left {
  left: 0;
  top: 0;
}
.page_preloader_right {
  right: 0;
  bottom: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fast-fade-enter,
.fast-fade-leave-to {
  opacity: 0;
}
.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: opacity 0.15s ease;
}

//init slider bullet
.swiper-pagination {
  padding: 10px;
  margin: -10px;
}

.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #ffffff !important;
  opacity: 0.3;
  border-radius: 0;
  margin-right: 32px;
  transition: all 1s ease;
  // display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  svg {
    position: absolute;
    left: -11px;
    top: -11px;
    transform: rotate(90deg);

    path {
      stroke-dasharray: 80;
      stroke-dashoffset: 80;
      // transition: stroke-dashoffset 1s ease !important;
    }
  }
}
// .swiper-pagination-bullet:last-of-type {
//   margin-right: 0;
// }

// .swiper-pagination-bullet-active {
//   opacity: 1;

//   svg path {
//     stroke-dashoffset: 0;
//   }
// }

// .swiper-pagination-bullet:hover {
//   opacity: 0.5;
// }

#about_page__team {
  .swiper-pagination-bullet {
    margin: 0 16px 32px !important;
  }
}

footer {
  .swiper-pagination {
    position: relative;
  }
}

@media (max-width: 640px) {
  .swiper-pagination-bullet {
    margin-right: 26px;
  }
}
@media (max-width: 375px) {
  .swiper-pagination-bullet {
    margin-right: 24px;
  }
}

// circle type button (as cursor)
.circle_type_button {
  width: 184px;
  height: 184px;
}

@media (max-width: 1024px) {
  .circle_type_button {
    width: 154px;
    height: 154px;
  }
}

// cursor
.cursor {
  position: fixed;
  top: -92px;
  left: -92px;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
  // transition: transform 0.1s ease;

  svg {
    position: absolute;
    path {
      stroke-dasharray: 700;
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 1s ease !important;
    }
  }

  div {
    width: 184px;
    height: 184px;
    transition: transform 0.5s ease, opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .view_project {
    display: block;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
  }

  p,
  .plus {
    transition: opacity 0.5s ease;
  }

  .plus {
    font-size: 15px;
  }

  &.is-active {
    div {
      transform: scale(2.5);
    }
    svg path {
      stroke-dashoffset: 0;
    }
  }

  &.is-visible {
    p,
    .plus,
    .view_project {
      opacity: 1;
    }
    svg path {
      stroke-dashoffset: 0;
    }
  }
  &.is-hidden {
    p,
    .plus,
    .view_project {
      opacity: 0;
    }
    svg path {
      stroke-dashoffset: 700;
    }
  }
  &.in-galery {
    p,
    .plus,
    .view_project {
      opacity: 1;
    }
    svg path {
      stroke-dashoffset: 0;
    }
  }
}

.cursor_on_project {
  svg {
    path {
      stroke-dashoffset: 700;
    }
  }

  p,
  .plus,
  .view_project {
    opacity: 0;
  }
  &.is-visible {
    p,
    .plus,
    .view_project {
      opacity: 1;
    }
    svg path {
      stroke-dashoffset: 0;
    }
  }
}

body,
html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1024px) {
  .absolute_cursor {
    display: block;
    position: absolute;
    z-index: 50;
    pointer-events: all;
    opacity: 1;
    right: 40px;
    width: 154px;
    height: 154px;
    cursor: pointer;
    div {
      width: 100%;
      height: 100%;
    }
  }
}
img {
  color: transparent;
}

// #__layout {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   overflow: auto;
// }


.project:nth-of-type(26) .one_project_foreground {
  display: none !important; 
}
