<template>
  <div class="projects_container">
    <div class="description_block">
      <div class="description">
        <h1 class="h_two">AIMM — АРХТЕКТУРА, ЩО ВРАЖАЄ</h1>
        <div
          class="js_appear_animated_text p1 description_text"
          v-html="all_projects_page.description"
        ></div>
      </div>
      <div class="circle_type_button projects_counter">
        <div class="counter_description">
          <svg
            width="184"
            height="184"
            viewBox="0 0 184 184"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="path"
              opacity="1"
              d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
              stroke="black"
            />
            <path
              opacity="0.1"
              d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
              stroke="black"
            />
          </svg>
          <transition name="fade" mode="out-in">
            <p :key="current_text" class="count">{{texts_in_circle[current_text].number}}</p>
          </transition>
          <transition name="fade" mode="out-in">
            <div :key="current_text" class="a1 count_text" v-html="splitWords(current_text)">
              <!-- v-html="texts_in_circle[current_text].description" -->
            </div>
          </transition>
        </div>
      </div>
    </div>

    <div class="categories_block">
      <p
        class="h_four"
        @click="chooseCategory(category)"
        v-for="category in allCategories"
        :class="{chosed_project_category: chosed_project_category.key === category.key}"
        :key="category.key"
      >
        {{category.value}}
        <span></span>
      </p>
    </div>

    <div class="chosed_in_mobile" @click="toggleCategories">
      <p
        class="h_four"
      >{{chosed_project_category.value === 'all' ? $t("all") : chosed_project_category.value }}</p>
      <img src="~/static/images/mini_arrow.svg" alt="arrow" />
    </div>

    <transition name="fade">
      <div class="categories_block_mobile" v-if="mobile_category_is_opened">
        <p
          class="h_four"
          @click="chooseCategoryInMobile(category)"
          v-for="category in allCategories"
          :key="category.key"
        >{{category.value}}</p>
      </div>
    </transition>

    <div class="project_list">
      <!-- <transition-group name="filter-list" tag="div" class="project_list"> -->
      <nuxt-link
        :to="localePath(`#`)"
        class="project"
        :data-id="index"
        v-for="(project, index) in allProjects"
        :key="project.id"
        :class="project.page.category ? project.page.category[0].slug : 'all'"
      >
        <div
          class="one_project_background"
          :lazy-background="project.page.photo"
          :style="{ backgroundPosition: 'center center', backgroundSize: 'cover'}"
        >
          <div class="showing_block_trigger"></div>
        </div>

        <div class="one_project_foreground">
          <div class="diagram">
            <p
              class="h_four"
              v-if="project.page.project_stages"
            >{{project.page.project_stages[0].title}}</p>
            <div>
              <img
                :src="getTimelineImage(project.page.project_stages_raw)"
                :alt="`image-${index}: projects`"
              />
            </div>
          </div>
          <p class="h_four">{{project.page.category ? project.page.category[0].title : ""}}</p>
          <div class="project_name" v-html="project.page.project_name"></div>
        </div>
      </nuxt-link>
      <!-- </transition-group> -->
    </div>
  </div>
</template>

<script>
import showBlock from "~/plugins/show_animation";
import gsap from "~/plugins/gsap-bonus";
import DrawSVGPlugin from "~/plugins/gsap-bonus/DrawSVGPlugin";
import Magnetic from "~/plugins/magnetic";
import { mapState } from "vuex";

const CONCEPT = "concept";
const PROJECT = "project";
const UNDER_CONSTRUCTION = "under-construction";
const REALIZED = "realized";

export default {
  name: "ProjectsBlock",
  props: ["all_projects_page"],
  data: () => ({
    mobile_category_is_opened: false,
    showBlock: null,
    hovered_project: null,
    current_text: 0,
    texts_in_circle: null,
    isotop: null,
    default_category: {
      key: "all",
      value: "all"
    }
  }),
  created() {
    this.showBlock = showBlock;
    this.texts_in_circle = this.all_projects_page.information_list;
    this.default_category.value = this.$t("all");
  },
  watch: {
    chosed_project_category() {
      this.filterProjects();
    }
  },
  computed: {
    ...mapState(["categories", "chosed_project_category"]),
    allProjects() {
      return this.all_projects_page.children;
    },
    allCategories() {
      if (this.categories) {
        return [this.default_category].concat(this.categories);
      }
      return [];
    },
    filteredCategory() {
      return this.allCategories.filter(
        item => item.key !== this.chosed_project_category.key
      );
    }
  },
  methods: {
    filterProjects() {
      this.isotop.arrange({
        filter: el => {
          if (this.chosed_project_category.key === "all") return true;
          return el.classList.contains(this.chosed_project_category.key);
        }
      });
    },
    chooseCategory(category) {
      console.log(category);
      if (category.key === "object") {
        category = {
          key: "interior",
          value: "Інтер’єри"
        };
      }
      this.$store.commit("setProjectFilter", category);
    },
    chooseCategoryInMobile(category) {
      this.$store.commit("setProjectFilter", category);
      this.mobile_category_is_opened = false;
    },
    toggleCategories() {
      this.mobile_category_is_opened = !this.mobile_category_is_opened;
    },
    getTimelineImage(timeline) {
      if (timeline == CONCEPT)
        return require("~/static/images/timeline_concept.svg");
      if (timeline == PROJECT)
        return require("~/static/images/timeline_project.svg");
      if (timeline == UNDER_CONSTRUCTION)
        // return require("~/static/images/timeline_under_construction.svg");
        return ""
      if (timeline == REALIZED)
        return require("~/static/images/timeline_realized.svg");
    },
    runCircleChanger() {
      gsap.registerPlugin(DrawSVGPlugin);

      var tl = gsap.timeline({ repeat: -1 });
      tl.fromTo(
        "#path",
        { drawSVG: "100% 100%" },
        {
          duration: 10,
          drawSVG: "0% 100%",
          ease: "power1.inOut",
          onComplete: () => {
            if (this.current_text + 1 < this.texts_in_circle.length) {
              this.current_text++;
            } else {
              this.current_text = 0;
            }
          }
        }
      );
      tl.fromTo(
        "#path",
        { opacity: 1 },
        { duration: 0.7, opacity: 0, ease: "power1.inOut" }
      );
    },
    splitWords(idx) {
      // return
      let words = this.texts_in_circle[idx].description.split(" ");
      let row = "";
      words.forEach(word => {
        row += `<span>${word}</span>`;
      });

      return row;
    }
  },
  mounted() {
    if (process.client) {
      var Isotope = require("isotope-layout");
    }
    var elem = document.querySelector(".project_list");
    this.isotop = new Isotope(elem);

    this.filterProjects();

    let projects = document.querySelectorAll(".project");
    for (const el of projects) {
      this.showBlock(el);
    }

    this.runCircleChanger();

    var magnet_area = document.querySelector(".projects_counter");
    let magnetic = new Magnetic(magnet_area, magnet_area, 50);

    // console.log(ahah);
  }
};
</script>

<style>
.one_project_foreground p,
.one_project_foreground .project_name {
  color: #ffffff;
  font-family: GraphikLCG-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  width: 254px;
}
</style>


<style lang="scss" scoped>
.description_block {
  max-width: 1440px;
  margin: auto;
  padding-left: 118px;
  padding-right: 172px;
  margin-top: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .description {
    .h_two {
      width: 603px;
      margin-bottom: 24px;
    }
    .description_text {
      width: 574px;
    }
  }
}
.projects_counter {
  display: flex;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  .count {
    font-family: GraphikLCG-Light;
    font-size: 42px;
    line-height: 160%;
    color: #181818;
    margin-right: 8px;
  }
  .count_text {
    position: relative;
    top: -5px;
  }
  svg {
    position: absolute;
    transform: rotate(90deg);

    path {
      stroke-dasharray: 578;
      stroke-dashoffset: 0;
    }
  }
}
.counter_description {
  display: flex;
  align-items: center;
  justify-content: center;

  .count_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.categories_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 118px;
  margin: 127px 0 40px;
  .h_four {
    cursor: pointer;
    position: relative;
    transition: opacity 0.5s ease-in-out;

    span {
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 1px;
      display: block;
      height: 1px;
      width: 100%;
      transition: background-color 0.5s ease;
    }
  }
  .h_four:hover {
    opacity: 0.5;
  }
  .chosed_project_category span {
    background-color: rgba(0, 0, 0, 1);
  }
  .h_four:nth-of-type(2)  span{
    display: none;
  }
}
.chosed_in_mobile {
  display: none;
}
.categories_block_mobile {
  display: none;
  position: relative;
}

.project_list {
  display: flex;
  flex-wrap: wrap;
}
.project {
  position: relative;
  width: 50%;
  height: 34vw;
  cursor: pointer;
  overflow: hidden;
  // opacity: 0;
}

.one_project_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.5s ease;
}

.one_project_foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(#000000, 0.55);
  opacity: 0;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.5s ease;
  pointer-events: none;

  p,
  .h_four {
    color: #ffffff;
    pointer-events: none;
    position: relative;
    z-index: 30;
  }
  .h_four {
    opacity: 0.6;
    margin-bottom: 18px;
  }
  .diagram {
    position: absolute;
    top: 24px;
    right: 28px;
    display: flex;
    align-items: center;

    .h_four {
      margin: 0 16px 0 0;
      width: fit-content;
    }
  }
}

.project:hover {
  .one_project_foreground {
    opacity: 1;
  }
}
.project:nth-of-type(41) .one_project_background {
  display: none !important; 
}
@media (min-width: 1441px) {
  .project {
    width: 25%;
    height: 16.8vw;
  }
  .one_project_foreground {
    padding: 24px;
    .diagram {
      top: 16px;
      right: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .description_block {
    padding-left: 112px;
    padding-right: 127px;
    margin-top: 190px;
    .description {
      .h_two {
        width: 345px;
        margin-bottom: 40px;
      }
      .description_text {
        width: 367px;
      }
    }
  }
  .categories_block {
    padding: 0 40px;
    margin-top: 140px;
    margin-bottom: 47px;
  }
  .one_project_foreground {
    pointer-events: all;
    opacity: 1;
    padding: 32px 40px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.08) 0%,
        rgba(0, 0, 0, 0.000833333) 51.04%,
        rgba(0, 0, 0, 0.08) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    .h_four {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  .description_block {
    padding: 0 72px;
    .description .description_text {
      width: 367px;
    }
  }
  .one_project_foreground {
    padding: 24px;
  }
  .categories_block {
    padding: 0 32px;
    margin-top: 134px;
    margin-bottom: 32px;
  }
}
@media (max-width: 720px) {
  .projects_counter {
    display: none;
  }
}

@media (max-width: 640px) {
  .description_block {
    margin-top: 164px;
    padding: 0 20px;
    .description {
      width: 100%;
      .description_text,
      .h_two {
        width: 100%;
      }
    }
  }
  .categories_block {
    margin-top: 112px;
  }
  .one_project_foreground {
    padding: 20px;
  }
  .categories_block {
    display: none;
  }
  .categories_block_mobile {
    display: block;
    position: absolute;
    z-index: 50;
    background-color: #ffffff;
    width: 100%;
    .h_four {
      padding: 24px 20px;
    }
  }
  .chosed_in_mobile {
    padding: 24px 20px;
    margin-top: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .project {
    width: 100%;
    height: 67vw;
  }
}

@media (max-width: 375px) {
  .one_project_foreground {
    padding: 18px;
  }
}
</style>