<template>
  <div class="container" :class="mainClasses">
    <div class="game_block" v-show="is_in_game">
      <p class="points h_four">{{$t('score')}}: 0</p>
      <div class="game_wrapper">
        <div class="tetris_wrapper">
          <div class="moving_shape_wrapper">
            <!-- <div class="dot_element"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="text_block" v-show="!is_in_game">
      <div>
        <div class="h_one" v-html="currentPageTitle"></div>
        <nuxt-link :to="localePath('/')">
          <p class="go_to_main">{{$t('go_to_main')}}</p>
        </nuxt-link>
      </div>
      <div class="tetris_start_button" @click="startGame">
        <svg
          width="184"
          height="184"
          transform="rotate(90)"
          viewBox="0 0 184 184"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.1"
            d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
            stroke="black"
          />
          <path
            class="dark_path"
            opacity="1"
            d="M0.5,92a91.5,91.5 0 1,0 183,0a91.5,91.5 0 1,0 -183,0"
            stroke="black"
          />
        </svg>
        <div class="play_text_wrapper">
          <div class="a1 play_text" v-html="tetrisText"></div>
          <img src="~/static/images/play-button.svg" alt />
        </div>
      </div>
    </div>
    <div class="game_over" v-if="tetris.game_over">
      <h1>{{$t('game_over')}}</h1>
      <h2>{{$t('your_score')}}: {{tetris.points}}</h2>
      <p key="1" class="go_to_main h_four">
        <nuxt-link :to="localePath('/')">{{$t('go_to_main')}}!</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
import { shapes, field } from "~/static/shapes";
import Magnetic from "~/plugins/magnetic";
import Vue from "vue";

import { log } from "three";
import Tetris from "~/plugins/tetris";

const FIELD_HEIGHT = 20;
const FIELD_WIDTH = 10;
const FAST_SPEED = 20;
const SLOW_SPEED = 400;
const EMPTY_LINE = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

export default {
  name: "TetrisBlock",
  props: ["page", "all_projects_page"],
  data: () => ({
    is_in_game: false,
    name: "",
    tetris: {},
    is_saved: false,
    winners: [],
    champion_rank: null
  }),
  created() {
    // if(page === "projects") {
    // }
  },
  computed: {
    currentPageTitle() {
      return this.page === "error"
        ? this.$t("oops")
        : this.all_projects_page.tetris_title;
    },
    tetrisText() {
      return this.all_projects_page
        ? this.all_projects_page.tetris_text
        : this.$t("play_with_us");
    },
    mainClasses() {
      return {
        is_in_game: this.is_in_game,
        in_projects: this.page === "projects",
        in_projects_game: this.page === "projects" && this.is_in_game
      };
    }
  },
  methods: {
    startGame() {
      this.is_in_game = true;
      this.tetris = new Tetris();
      this.tetris.startGame();
    },
    is_champion() {
      // if (this.winners.length < 5) this.champion_rank = 0;
      // for (let i = 0; i < this.winners.length; i++) {
      //   if (this.tetris.points > this.winners[i])
      // }
    },
    saveName() {
      if (!localStorage.winners) {
      }
      localStorage.setItem("test", 1);
    }
  },
  mounted() {
    if (localStorage.winners) {
      this.winners = localStorage.winners;
    }
    var magnet_area = document.querySelector(".tetris_start_button");
    let magnetic = new Magnetic(magnet_area, magnet_area, 50);
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.is_in_game {
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
}
.in_projects {
  margin-top: 111px;
  margin-bottom: 111px;
  max-height: 632px;
  .game_wrapper {
    // max-height: 632px;
    height: 100%;
  }
  .go_to_main {
    display: none;
  }
}
.in_projects_game {
  margin: 0;
  .game_block {
    height: 100%;
  }
}
.text_block {
  display: flex;
  justify-content: center;
  .go_to_main {
    font-family: GraphikLCG-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    opacity: 0.7;
    margin-top: 40px;
    width: fit-content;
    border-bottom: 1px solid black;
  }
}
.h_one {
  max-width: 584px;
  margin-top: 160px;
}
.tetris_start_button {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 184px;
  height: 184px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  cursor: pointer;
  svg {
    position: absolute;
    .dark_path {
      stroke-dasharray: 578;
      stroke-dashoffset: -450;
      transition: stroke-dashoffset 1s ease;
    }
  }
  svg:hover {
    .dark_path {
      stroke-dashoffset: 0;
    }
  }
  span {
    display: block;
    margin-top: 20px;
  }
}
.play_text_wrapper {
  position: relative;
  img {
    top: 36px;
    left: 0;
    position: absolute;
  }
}
.play_text {
  cursor: pointer;
  max-width: 65px;
}
.game_block {
  width: 100vw;
  position: relative;
}
.points {
  position: absolute;
  right: 56px;
  top: 37px;
  font-family: GraphikLCG-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
}
.game_wrapper {
  width: 50%;
  transform: translateX(-1px);
  height: calc(100vh - 56px);
  margin: auto;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
}
.tetris_wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 200px;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}
.moving_shape_wrapper {
  position: absolute;
}

.game_over {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 12px;
  }
  h1,
  h2 {
    width: fit-content;
    font-size: 16px;
  }
  .h_four {
    margin-top: 24px;
  }
}
input {
  font-family: GraphikLCG-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
  width: 380px;
  border: none;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 12px 10px;
  outline: none;
  display: block;
  margin-top: 40px;
  text-align: center;
}
.send_request_button {
  opacity: 1;
  cursor: pointer;
}
a {
  color: #000000;
  opacity: 0.8;
}

.error_tetris {
  @media (max-width: 1024px) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .in_projects {
    margin-top: 107px;
    margin-bottom: 240px;
  }
}
</style>